.footer{
   background-color:$DarkBlue;
   text-align: center;
   padding-top: 1.8125rem;
   padding-bottom: 2.5rem;
   @include break-media-up(large){
      padding: 3rem 0;
   }
   &__container{
      @include break-media-up(medium){
         display: grid;
         grid-template-columns: 2fr 1fr 1fr 2fr;
         grid-template-rows: 3.43rem 3rem;
         grid-template-areas:
         "logo col1 col2 btn"
         "media col1 col2 right";
      }
  }
   &__logo{
      margin-bottom: 2.828125rem;
      @include break-media-up(medium){
         grid-area: logo;
         justify-self: left;
         margin: 0;
      }
   }
   &__media{
      margin-bottom: 2.14rem;
      
      svg path{
         transition: fill 300ms;
         &:hover{
            fill: $LimeGreen;
         }
      }
      a{
         text-decoration: none;
         &:not(:last-child){
            margin-right: 1rem;
         }
        
      }
      @include break-media-up(medium){
         grid-area: media;
         justify-self: left;
         margin: 1.5rem 0px 0px 0px;
         
      }
   }

   &__link{
      flex-direction: column;
   
      &.col1{
         padding-bottom: 0.5rem;
         @include break-media-up(medium){
            padding: 0;
            grid-area: col1;
            justify-content: space-between;
            padding: 0;
         }

      }
      &.col2{
         @include break-media-up(medium){
            padding: 0;
            grid-area: col2;
            justify-content: space-between;
            padding: 0;
         }

      }

      a{
         font-size: 0.9375rem;
         letter-spacing: -0.23px;
         color: $GrayishBlue;
         text-decoration: none;
         transition: color 400ms;
         &:not(:last-child){
            margin-bottom: 0.5rem;
         }
         &:hover{
            color: $LimeGreen;
         }
         &:visited, &:active{
          //  color: white;
         }
      }
   }

   &__button{
      margin: 2rem 0 1.75rem 0;
      @include break-media-up(medium){
         grid-area: btn;
         margin: 0;
         justify-self: right;
      }
   }
   
   &__right{
      p{
         font-size: 0.9375rem;
      }
      @include break-media-up(medium){
         grid-area: right;
         justify-self: right;
         align-self: end;
      }
   }
}