//===============
//     CoLor
//===============
$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);


//===============
//     Font Size
//===============

$font-sm-mobile : 0.9375rem; //15px
$font-large-mobile: 1.125rem; // 18px

//$font-sm-desktop : 0.9375rem;
//$font-large-desktop: 1.125rem;
   //===============
   //     Font Weight
   //===============
      $font-weight-light: 300;
      $font-weight-md: 400;
      $font-weight-bold: 700;
